<div class="flex items-center justify-center">
    <div class="table-container" style="max-height: 30rem; overflow-y: auto">
        <table class="table-auto text-xs sm:text-sm md:text-base lg:text-lg">
            <thead style="position: sticky; top: 0; background-color: #ffffff">
                <tr>
                    <th class="px-4 py-2">Skill Category ID</th>
                    <th class="px-4 py-2">Skill Category Name</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- loop through each of the rows returned-->
                <% result.skillCategory.data.forEach(function(row) { %>
                <tr>
                    <td class="border px-4 py-2"><%= row.skill_category_id %></td>
                    <td class="border px-4 py-2"><%= row.skill_category_name %></td>
                    <td class="border px-4 py-2">
                        <div class="flex space-x-1">
                            <!-- edit button action -->
                            <form action="/skillCategory/getById" method="POST">
                                <input
                                    type="hidden"
                                    name="skill_category_id"
                                    value="<%=row.skill_category_id %>"
                                />
                                <div class="rounded-l">
                                    <input
                                        type="submit"
                                        value="Edit"
                                        class="bg-blue-600 hover:bg-blue-700 text-white px-1 py-1 sm:px-2 sm:py-2 text-xs sm:text-sm md:text-base lg:text-lg rounded focus:outline-none focus:ring-1 focus:ring-black"
                                    />
                                </div>
                            </form>
                            </form>
                            <!-- delete button action -->
                            <form action="/skillCategory/delete" method="POST">
                                <input
                                    type="hidden"
                                    name="skill_category_id"
                                    value="<%=row.skill_category_id %>"
                                />
                                <div class="rounded-r">
                                    <input
                                        type="submit"
                                        value="Delete"
                                        class="bg-red-600 hover:bg-red-700 text-white px-1 py-1 sm:px-2 sm:py-2 text-xs sm:text-sm md:text-base lg:text-lg rounded focus:outline-none focus:ring-1 focus:ring-black"
                                    />
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<div class="flex justify-center mt-4">
    <form action="/skillCategory/addPage">
        <input
            type="submit"
            value="Add a Category"
            class="bg-green-700 hover:bg-green-800 text-white px-2 py-1 sm:px-4 sm:py-2 text-xs sm:text-sm md:text-base lg:text-lg rounded focus:outline-none focus:ring-1 focus:ring-black"
        />
    </form>
</div>
