
    <body>
        <header class="sticky top-0 bg-gray-900">
            <nav class="container mx-auto px-4 py-4 sm:flex sm:items-center sm:justify-between">
                <a class="text-white text-2xl font-bold" href="/home" aria-label="Home"
                    >Skills Auditor</a
                >
                <ul class="hidden sm:flex space-x-4 mt-4 sm:mt-0" id="main-menu">
                    <li>
                        <a
                            class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                            href="/skill"
                            aria-label="Skills"
                            >Skills</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                            href="/skillCategory"
                            aria-label="Skill Categories"
                            >Skill Categories</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                            href="/employee"
                            aria-label="Employees"
                            >Employees</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                            href="/employeeSkill"
                            aria-label="Employee Skills"
                            >Employee Skills</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                            href="/managerStaff"
                            aria-label="Manager Assignments"
                            >Manager Assignments</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                            href="/userDetails"
                            aria-label="My Details"
                            >My Details</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                            href="/userSkill"
                            aria-label="My Skills"
                            >My Skills</a
                        >
                    </li>
                    <li>
                        <a class="text-red-500 hover:text-white" href="/" aria-label="Logout"
                            >Logout</a
                        >
                    </li>
                </ul>
            </nav>
        </header>
    </body>