<header class="sticky top-0 bg-gray-900">
    <nav class="container mx-auto px-4 flex items-center justify-between py-4">
        <a class="text-white text-2xl font-bold" href="/home" aria-label="Home">Skills Auditor</a>
        <ul class="hidden sm:flex space-x-4 ml-auto" id="staff-main-menu">
            <li>
                <a
                    class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                    href="/userDetails"
                    aria-label="My Details"
                    >My Details</a
                >
            </li>
            <li>
                <a
                    class="text-white hover:text-gray-300 focus:text-gray-300 focus:outline-none"
                    href="/userSkill"
                    aria-label="My Skills"
                    >My Skills</a
                >
            </li>
            <li>
                <a class="text-red-500 hover:text-white" href="/" aria-label="Logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
